.climbing-stats {
  margin-top: 90px;
  text-align: center;
  line-height: 1.5;
}

.stats {
  background-color: rgb(4, 42, 53, 0.75);
  color: white;
  width: 80%;
  margin: auto;
  padding: 2px;
  margin-bottom: 10px;
  border-radius: 3px;
  max-width: 400px;
}

.stats h3 {
  font-family: 'BeKindToTheEarth';
}

.best,
.average {
  display: flex;
  flex-direction: column;
}

.best,
.average {
  display: flex;
  flex-direction: column;
}

.grade {
  font-size: 40px;
  color: #00FFC4;
  width: 100px;
  margin: auto;
  margin-bottom: 15px;
  padding: 10px;
}

.chart {
  width: 80%;
  height: auto;
  max-height: 400px;
  max-width: 400px;
  background-color: rgb(4, 42, 53, 0.75);
  color: white;
  padding: 15px;
  text-align: center;
  vertical-align: center;
  margin: auto;
  border-radius: 3px;
  margin-bottom: 50px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(4, 42, 53, 0.75);
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover {
  cursor: pointer;
  color: #00FFC4;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}



/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .climbing-stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  .stats {
    height: 400px;
    width: 35%;
    max-width: 300px;
    padding-top: 30px;
    margin: 0;
    margin-right: 30px;
    margin-bottom: 220px;
  }

  .chart {
    width: 60%;
    height: 400px;
    margin: 0;
    margin-bottom: 220px;
  }
}