.climbing-stats {
    margin-top: 90px;
    text-align: center;
    line-height: 1.5;
}

.stats {
  background-color: rgb(4, 42, 53, 0.75);
  color: white;
  width: 80%;
  margin: auto;
  padding: 2px;
  margin-bottom: 10px;
}

.best,
.average {
  display: flex;
  flex-direction: column;
}

.grade {
  font-size: 40px;
  color: #00FFC4;
  width: 100px;
  margin: auto;
  margin-bottom: 15px;
  padding: 10px;
}

.chart {
  width: 80%;
  height: 300px;
  background-color: rgb(4, 42, 53, 0.75);
  color: white;
  padding: 10px;
  text-align: center;
  vertical-align: center;
  margin: auto;
  margin-bottom: 50px;
}