.landing-page {
    margin-top: 20px;
    text-align: center;
    line-height: 1.5;
}

p {
  margin: 0 auto;
  max-width: 650px;
}

p + p {
  margin-top: 15px;
}

.info-section {
  height: 40vh;
  text-align: center;
  /* line-height: 70vh; */
  color: white;
  font-size: 26px;
  font-family: 'Angeline_Vintage';
  /* position: fixed;
  right: 12px; */
  /* background-image: url(./el-capitan-922758_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
}

.landing-info {
  width: 85%;
  border-bottom: 1px solid black;
  margin: auto;
  padding: 10px;
  background: rgb(4, 42, 53, 0.5)
}

.landing-info h3 {
  font-family: 'BeKindToTheEarth';
  text-transform: uppercase;
}