.landing-page {
    margin-top: 20px;
    text-align: center;
    line-height: 1.5;
}

section {
  min-height: 200px;
  padding: 30px 15px;
  background-color: rgb(4, 42, 53);
}

section:nth-child(even) {
  background-color: rgb(4, 42, 53)
}

p {
  margin: 0 auto;
  max-width: 650px;
}

p + p {
  margin-top: 15px;
}

.info-section {
  height: 40vh;
  text-align: center;
  /* line-height: 70vh; */
  color: white;
  font-size: 22px;
  /* background-image: url(./el-capitan-922758_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
}

.landing-info {
  width: 85%;
  border-bottom: 1px solid black;
  margin: auto;
  padding: 10px;
}