.climbing-track {
    margin-top: 80px;
    text-align: center;
    line-height: 1.5;
}

.climbs {
  background-color: #666;
  color: white;
  width: 75%;
  height: 300px;
  margin: auto;
  padding: 2px;
  margin-bottom: 10px;
}

.add-form-container {
  background: #aaa;
  margin-top: 20px;
  text-align: center;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.user-climbs {
  line-height: 1;
  border: 1px solid black;
  width: 80%;
  margin: auto;
}