/* p {
  margin: 0 auto;
  max-width: 650px;
}

p + p {
  margin-top: 15px;
} */

.climbing-plan {
    margin-top: 80px;
    text-align: center;
    line-height: 1.5;
}

.hidden {
  display: none
}

.climb-location {
  background: none;
  border: none;
  font-size: 14px;
}

.weather {
  background-color: #666;
  color: white;
  width: 90%;
  height: auto;
  margin: auto;
  padding: 2px;
  margin-bottom: 10px;
  /* text-align: center; */
  display: flex;
  flex-direction: row
}

.forecast {
  /* margin-top: 50px; */
}

#weather-icon {
  max-height: 128;
  max-width: 128;
  margin: auto;
}

.skycon {
  margin: auto;
  text-align: center;
  max-height: 40vw;
  max-width: 40vw;
  /* height: 64px;
  width: 64px; */
}

.map-and-list {
  display: flex;
  flex-direction: column-reverse;
}

.map {
  font-size: 40px;
  background: #aaa;
  width: 90%;
  height: 400px;
  margin: auto;
  border: 1px solid black;
  /* margin-bottom: 15px;
  padding: 10px; */
}

.list {
  background-color: #666;
  color: white;
  width: 90%;
  height: 200px;
  margin: auto;
  padding: 2px;
  margin-bottom: 10px;
  /* font-size: 12px; */
}

.climb-list {
  list-style: none;
  font-size: 12px;
  line-height: 0.75;
}

/* .location-details {
  display: flex;
  flex-direction: row
} */