.loading {
  font-family: 'Angeline_Vintage';
  font-size: 32px;
  color: white;
  text-shadow: 2px 2px 1px rgb(4, 42, 53);
  text-align: center;
}

.climbing-plan {
    margin-top: 90px;
    text-align: center;
}

.weather-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 12px;
  color: white;
  background-color: rgb(4, 42, 53, 0.75);
  padding-top: 70px;
  padding-bottom: 70px;
}

.weather-container p {
  font-size: 12px;
  padding: 2px;
}

.daily-weather {
  display: flex;
  flex-direction: column;
  width: 12.5%;
}

.weekday {
  margin-bottom: 10px;
}

.temp-high {
  font-weight: bold;
  color: #00FFC4;
}

.temp-low {
  color: rgb(155, 155, 155);
}

#weather-icon {
  max-height: 128;
  max-width: 128;
  margin: auto;
}

.skycon {
  margin: auto;
  text-align: center;
  max-height: 40vw;
  max-width: 40vw;
  margin-top: 10px;
}

.map-and-list {
  display: flex;
  flex-direction: column-reverse;
}

.map {
  font-size: 40px;
  height: 400px;
  margin: auto;
}

.map-message {
  margin-top: 80px;
  color: white;
  background-color: rgb(4, 42, 53, 0.75);
  width: 70%;
  font-size: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 3px;
}

.list {
  background-color: rgb(4, 42, 53, 0.75);
  color: white;
  margin: auto;
  padding: 2px;
}

.list h2 {
  font-family: 'BeKindToTheEarth';
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
}

.area-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}

.icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.location-and-link {
  width: 30%;
  margin: auto;
  margin-bottom: 15px;
  padding: 2px;
}

.location-and-link a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.location-and-link a:hover,
.location-and-link a:focus,
.location-and-link button:hover,
.location-and-link button:focus {
  color: rgb(255, 153, 0);
  font-weight: bold;
}

.location-and-link p {
  font-size: 12px;
  color: #00FFC4;
}

.location-and-link button {
  background: none;
  border: none;
  font-size: 15px;
  color: white;
  margin: 0;
  margin-right: 15px;
  padding: 0;
}

.climb-list {
  list-style: none;
  font-size: 12px;
  line-height: 0.75;
}

.selected-climb {
  background-color:rgb(4, 42, 53, 0.75);
  color: yellow;
  padding: 20px;
  height: 80px;
  border-top: 1px dashed white;
  border-bottom: 1px dashed white;
}

.selected-climb-name {
  font-family: 'BeKindToTheEarth';
}

.selected-climb a {
  color: white;
  font-size: 10px;
  text-decoration: none;
}

.selected-climb a:hover,
.selected-climb a:focus {
  color: rgb(255, 153, 0);
  font-weight: bold;
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .location-and-link {
    width: 15%;
    margin-bottom: 20px;
  }

  .location-and-link p {
    font-weight: bold;
  }

  .selected-climb-name {
    font-size: 20px;
  }

  .selected-climb a {
    font-size: 14px;
  }

  .weather-container {
    font-size: 16px;
  }

  .weather-container p {
    font-size: 16px;
    padding: 2px;
  }
}