header {
  text-align: center;
  /* position: fixed; */
  position: absolute;
  top: 0;
  margin: auto;
  height: 75px;
  width: 100%;
  /* background-color: rgb(193, 179, 179); */
  font-family: 'Gobsmacked';
  font-size: 22px;
  color: rgb(4, 42, 53)
}

header img {
  height: 30px;
  width: auto;
  position: relative;
  padding-top: 3px;
}

/* .mountains {
  font-family: 'HimalayanSalt-Regular', regular;
} */

.app {
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

main {
  min-height: 75vh;
  margin-top: 75px;
}

footer {
  font-size: 8px;
  text-align: center;
  margin-top: 10px;
}

footer p {
  font-size: 8px;
}

footer a {
  text-decoration: none;
  color: #353EE5;
  font-size: 8px;
}

footer a:hover {
  cursor: pointer;
  color: #FF7D12;
}

footer a:visited {
  color: rgb(23, 104, 82);
}

/* menu {
    display: block;
} */

/* nav {
    display: block;
} */

.nav-menu {
    width: 100%;
    height: 100%;
    font-family: 'BeKindToTheEarth', regular;
    color: white;
    display: block;
    text-transform: uppercase;
}

.mountain-icon {
  height: 50px;
  width: auto;
  margin-bottom: 20px;
}

.mountain-icon:hover {
  border: 1px solid #00FFC4;
}

.nav-menu a {
    display: block;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
}

.nav-menu a:hover {
  color: #00FFC4;
}

.nav-menu a:focus {
  color: #00FFC4;
}

/* Position and sizing of burger button */
.bm-burger-button {
  /* position: fixed; */
  position: absolute;
  /* float: left; */
  width: 25px;
  height: 20px;
  left: 2vw;
  top: 35px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: rgb(4, 42, 53);
}

/* .bm-burger-bars:focus {
  background: #00FFC4;
} */

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #00FFC4;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* .bm-cross-button:hover {
  background: #00FFC4;
} */

/* Color/shape of close button cross */
.bm-cross {
  background: white;
}

/* .bm-cross:hover {
  background: #00FFC4;
}

.bm-cross:focus{
  border: 1px solid #00FFC4;
} */

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  /* background: #373a47; */
  background: rgb(4, 42, 53);
  opacity: 0.85;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  background-color: rgb(4, 42, 53);
  /* opacity: 0.9; */
  padding: 0.8em;
  display: block;
}

/* Individual item */
.bm-item {
  /* display: inline-block; */
  display: block;
}

/* Styling of overlay */
.bm-overlay {
  /* background: rgba(0, 0, 0, 0.3); */
  background: orange;
}