* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Angeline_Vintage';
  font-display: auto;
  src: local('Angeline_Vintage_Demo'), url(./assets/fonts/Angeline_Vintage_Demo.ttf) format('truetype');
}

@font-face {
  font-family: 'BeKindToTheEarth';
  font-display: auto;
  src: local('BeKindToTheEarth'), url(./assets/fonts/BeKindToTheEarth.woff) format('woff');
}

@font-face {
  font-family: 'Gobsmacked';
  font-display: auto;
  src: local('Gobsmacked'), url(./assets/fonts/Gobsmacked.otf) format('opentype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./el-capitan-mobile.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgb(208, 188, 188); /* Used if the image is unavailable */
  background-size: 100% auto;
}

p {
  margin:0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button:hover {
  cursor: pointer;
}




/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  body {
    background-image: url(./el-capitan-full.jpg);
    background-size: cover;
    background-attachment: fixed;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {

}